:root {
      --white-color: #fff;
      --main-color: #004438;
      --black-color: #000;
      --second-color: #4f7069;
      /* --bg-color: #f5f5f3; */
      --bg-color: #F2F4F0;
      --bg-dark-color: #91978d;
}

*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      outline: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
      border: none;
}

body {
      font-family: 'archivo narrow', sans-serif;
      color: var(--color-dark);
      /* background-color: var(--bg-color); */
      background-image: url(home-3-background-img-1.jpg);
      overflow-x: hidden;
}

/* GENRAL STYLES */
.container {
      width: 95%;
      margin: 0 auto;
}

a {
      color: #000;
}

img {
      display: block;
      width: 100%;
}

.btn {
      display: inline-block;
      padding: 10px;
      font-weight: 500;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      cursor: pointer;
      transition: all 300ms ease;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      font-size: 1rem;
      width: 8rem;
      background-color: var(--main-color);
      color: #FFF;
}

.btn:hover {
      opacity: 0.8;
}

.section-title {
      font-weight: bold;
      text-align: center;
      font-size: 40px;
      color: var(--main-color);
      margin-bottom: 15px;
}
.sub-section-title {
      text-align: center;
      font-size: 25px;
      color: var(--main-color);
      margin-bottom: 10px;
}

.section-p {
      font-size: 20px;
      width: 90%;
      margin: 40px auto;
      color: #7e8483
}

/*==========HEADER==========*/
header .announcement {
      background-color: var(--main-color);
      color: var(--white-color);
      padding: 10px;

}

header .announcement ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: auto;
      line-height: 50px;
      flex-wrap: wrap;
}

nav {
      margin: 0;
}

nav .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

nav .content .logo {
      max-width: 200px;
      margin-right: 30px;
      min-width: 70px;
      min-height: 70px;
}

nav .content .logo img {
      width: 100%;
      height: 100%;
}

nav .content ul.links {
      display: flex;
      flex-wrap: wrap;
}

nav .content ul.links li.link-item {
      margin: 0 20px;
      padding: 0 10px;
}

nav .content ul.links a.active-link {
      color: var(--second-color);
}

nav .content ul.links a.active-link::after,
nav .content ul.links a::after {
      background-color: var(--second-color);
      content: "";
      display: block;
      width: 0;
      height: 3px;
      margin-top: 2px;
      transition: width 0.5s;
      -webkit-transition: width 0.5s;
      -moz-transition: width 0.5s;
      -ms-transition: width 0.5s;
      -o-transition: width 0.5s;
}

nav .content ul.links a:hover::after {
      width: 90px;
      margin: auto;
}

nav .content ul.links a.active-link::after {
      width: 70px;
      margin: auto;
}


header .top-bar {
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
}

header .top-bar .top-bar-left {
      width: 150px;
}

header .top-bar .top-bar-right {
      position: relative;
}

header .top-bar .top-bar-right a.top-bar-icon {
      font-size: 22px;
      line-height: 35px;
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -17px;
      width: 35px;
      height: 35px;
      border-radius: 3px;
      z-index: 200;
      background-color: var(--main-color);
      color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: center;
}

header .side {
      z-index: 2001;
      position: fixed;
      top: 0;
      right: -250px;
      width: 250px;
      height: 100vh;
      margin-left: auto;
      background-color: #004438;
      transition: all 0.7s ease;
}

header .side .close-wrapper {
      width: 100%;
      text-align: end;
      padding: 20px;
}

header .side .close-wrapper .close {
      width: 70px;
      height: 70px;
      color: var(--white-color);
}

header .side .menu-wrapper {
      width: 100%;
      height: 100%;
}

header .side .menu-wrapper ul {
      display: flex;
      flex-direction: column;
}

header .side .menu-wrapper ul li {
      margin: 10px 15px;
}

.menu-wrapper ul a {
      color: var(--white-color);
}

.menu-wrapper ul a.active::after,
.menu-wrapper ul a::after {
      content: "";
      display: block;
      width: 0;
      height: 3px;
      background-color: #f5f5f3;
      margin-top: 2px;
      transition: width 0.5s;
      -webkit-transition: width 0.5s;
      -moz-transition: width 0.5s;
      -ms-transition: width 0.5s;
      -o-transition: width 0.5s;
}

.menu-wrapper ul a.active::after {
      width: 90px;
}

.menu-wrapper ul a:hover::after {
      width: 90px;
}

.side .menu-wrapper .info {
      color: #fff;
      margin: 20px 15px;
}

.side .menu-wrapper .info p {
      margin: 10px 0;
}

.side .menu-wrapper .info p li {
      text-align: center;
}

.slider {
      width: 100%;
      position: relative;
      overflow: hidden;
}

.slides {
      display: flex;
      transition: transform 1s ease-in-out;
}

.slide {
      min-width: 100%;
      height: 400px;
      background-size: cover;
      background-position: top left;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
}

.slide .layout {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5)
}

.slide .slide-text {
      position: absolute;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      text-shadow: 0 .3rem .5rem #000;
      width: 80%;

}

.slide .slide-text h1 {
      margin-bottom: 15px;
      text-transform: uppercase;
}

.slide .slide-text p {
      margin-bottom: 20px;
      font-weight: normal;

}

.slide .slide-text .btn a {
      color: #fff
}


.prev,
.next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
      border-radius: 50%;
      font-weight: bold;
}

.prev {
      left: 10px;
}

.next {
      right: 10px;
}


/*==========MAIN==========*/

main .our-company .about-img {
      width: 60px;
      height: 60px;
      text-align: center;
      margin: auto;
}

main .our-company .about-img img {
      display: block;
      width: 100%;
      height: 100%;

}


main .our-company .cards {
      display: flex;
      min-height: 400px;
}

main .our-company .cards .card {
      flex: 1;
      margin: 20px;
      padding: 20px;
      background-color: #e5e9e1;
      box-shadow: 0 3px 6px #00000029;
      text-align: left;
      width: 100%;
      overflow: hidden;
      min-height: 100%;
      margin-bottom: 30px;
      max-width: 440px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

main .our-company .cards .card .top-card{
      display: flex;
       align-items: center;
}

main .our-company .cards .card .btn {
      background-color: transparent;
      color: var(--main-color);
      border: 2px solid var(--main-color);
      margin: 10px auto;
      transition: all 0.4s ease;
      box-shadow: 0 .4rem .6rem #000;
}

main .our-company .cards .card .btn:hover{
      background-color: var(--main-color);
      color: #FFF;
}
main .our-company .cards .card .btn:hover a{
      color: #FFF;
}

main .our-company .cards .card img {
      display: block;
      width: 40px;
      
}

/*==========WELCOME==========*/
.welcome {
      margin-bottom: 50px;
      background-color: #e5e9e1;
      padding: 30px;
}

.welcome h3 {
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
}
.welcome p.section-p {
      line-height: 30px;
}
.welcome .categories {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

}

.welcome .categories div {
      flex: 1;
      margin: 0 20px;
      transition: all .5s ease;
      cursor: pointer;
}

.welcome .categories div:hover {
      transform: scale(1.1);
}

.welcome .categories div img {
      width: 100%;
      border-radius: 15px;
}




/*==========What We Do==========*/

main .what {
      margin-bottom: 20px;
      padding: 10px;
      background-image: url(home-3-background-img-1.jpg);
}
main .what .what-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
}

main .what .what-info p {
      flex: 1;
}
main .what .what-info .img-container  {flex: 2;}
main .what .what-info .img-container img {
      width: 100%;
      display: block;
}

/* ==============MEDIA QUERIES FOR TABLETS AND MOBILE PHONES =======*/
@media screen and (max-width:765px) {
      main .what .what-info {
            flex-direction: column;
      }
}

/*==========What We Offer==========*/

main .offer {
      padding: 20px;
}

main .offer .offer-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
}
main .offer .offer-cards .offer-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 0;
    align-items: center;
    background-color:#e5e9e1 ;
    padding: 10px;
      box-shadow: 0 3px 6px #00000029;
      text-align: left;
      margin-bottom: 30px;
}
main .offer .offer-cards .offer-card .offer-icon{
 width: 50px;
 height: 50px;
 margin: 10px 0;
}

main .offer .offer-cards .offer-card .offer-icon img{
 width: 100%;
 height: 100%;
 display: block;
}

main .offer .offer-cards .offer-card h3{
      margin: 10px 0;
      color: var(--main-color);
}
main .offer .offer-cards .offer-card p{
      margin: 10px 0;
      text-align: center;
      font-size: 18px;
}

/* ==============MEDIA QUERIES FOR TABLETS AND MOBILE PHONES =======*/
@media screen and (max-width:765px) {
main .offer .offer-cards .offer-card {
   flex-wrap: wrap;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-height: 200px;
}
}
@media screen and (max-width:400px) {
main .offer .offer-cards .offer-card {
   flex-wrap: wrap;
    width: 90%;
}
}

/*==========our-products==========*/
.home-main .some-product {
      margin: 30px 0;
}
.home-main .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    justify-content: space-between;
}

/* Styling each card */
.home-main .cards-container .card {
     flex: 1 1 30%;
    background-color: var(--bg-color);;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 400px;
}

.home-main .cards-container .card img {
    width: 100%;
    height: 60%; /* Half of the card height */
    object-fit: cover;
}

.home-main .cards-container .card .card-content {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

 .home-main .cards-container .card .card-content h4 {
    font-size: 1.2em;
     color: var(--main-color);
}

.home-main .cards-container .card .card-content p {
    font-size: 1em;
    margin-bottom: 10px;
      text-align: center;
}


/* Responsive styles */
@media (max-width: 768px) {
   .home-main .cards-container .card {
        flex: 1 1 100%; /* 1 card per row on small screens */
    }
}

/*==========Home Banner==========*/

.home-main .banner-container {
      position: relative;
       margin-bottom: 120px;
}
.home-main .banner-container .layout{
        position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #44533c;
      opacity: 0.6;
      width: 100%;
      height: 500px;
     position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
}


.home-main .banner-container h3{
      position: absolute;
      top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
}

.home-main .banner-container .banner-img{
      width: 90%;
      height: 90%;
      position: absolute;
      top: 130px;
      left: 50px;
}

.home-main .banner-container .banner-img img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/* Responsive styles */
@media (max-width: 768px) {
      .home-main .banner-container h3{
    font-size: 20px;
      top: 100px;
  
    
}
      .home-main .banner-container .layout{
            height: 400px;
      }
   .home-main .banner-container .banner-img{
display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    height: 60%;
   }
}

footer {
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      background-color: var(--second-color);
      color: var(--white-color);
      min-height: 300px;
      background-image: url(slider-bg_b164ce8f-ea49-48ab-b852-028bf4ab2067.webp);
}

footer .footer-columns {
      display: flex;
      padding: 20px
}

footer .footer-columns .column {
      margin: 0 15px;
      width: 30%;
}

/* footer .footer-columns .column {
      margin: 0 10px;
} */
footer .footer-columns .column h3 {
      color: #E3E8DD;
      text-transform: uppercase;
      margin-bottom: 15px;
}

footer .footer-columns .column  i ,
footer .footer-columns .column a ,
footer .bottom-footer a{
      color: #E3E8DD;
      margin-bottom: 5px;
}
footer .footer-columns .column a:visited,
footer .bottom-footer a:visited{
      color: #E3E8DD;
}
footer .footer-columns .column p {
      color: #E3E8DD;
      margin-bottom: 10px;
}

footer .footer-columns .social a {
      color: #CCC;
      font-size: 1.2rem;
      margin: 10px;
      display: inline-block;
}

hr {
      color: #E3E8DD;
      width: 95%;
      height: 2px;
      display: block;
      border-bottom: 1px solid #fff;
}

footer .copy {
      margin: 30px auto;
      text-align: center;
}

footer .copy span {
      font-size: 1rem;
}

.development {
       white-space: nowrap;
}

/* ==============MEDIA QUERIES FOR TABLETS AND MOBILE PHONES =======*/
@media screen and (max-width:765px) {

      header .announcement,
      header nav {
            display: none;
      }

      header .top-bar {
            display: flex;
      }

      .slide .slide-text h1 {
            font-size: 1.6rem;
            margin-bottom: 15px;
      }

      .slide .slide-text p {
            font-size: 1.2rem;

      }

      main .our-company .cards {
            flex-direction: column;
            align-items: center;
      }

      .section-title {
            font-size: 30px;
      }

      .welcome h3 {
            font-size: 25px;
      }

      .welcome .categories {
            flex-direction: column;
            height: auto;
      }

      .welcome .categories div {
            margin: 20px auto;
            width: 85%;
      }

      .swiper-slide img {
            width: 150px;
            height: 150px;
      }

      .swiper-container .swiper-button-next::after,
      .swiper-container .swiper-button-prev::after {
            font-size: 15px;
      }

      .project .box-container .box {
            height: 17rem;
            width: 80%
      }

      footer .footer-columns {
            flex-direction: column;
      }

      footer .footer-columns .column {
            width: 95%;
            margin-bottom: 20px;
      }

      footer .copy {
            font-size: 0.9rem
      }
}

/* ==============ABOUT US PAGE =======*/

main .about {
      background-image: url(banner3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      position: relative;
      width: 100%;
      height: 50vh;
      margin-bottom: 70px;
      background-attachment: fixed;

}

main .about .layout {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

main .about h2 {
      color: #fff;
      font-size: 40px;
      letter-spacing: 3px;
      text-shadow: 0 .3rem .5rem #4f7069;
}



main .aroma-egy,
main .our-vision,
main .our-mission {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;
      min-height: 500px;
}


main .aroma-egy .about-aroma,
main .our-vision .aroma-vision,
main .our-mission .aroma-mission {
      flex: 1.3;
      margin-right: 20px;
}

main .vission {
      background-color: rgba(68, 83, 60,0.1);
      width: 100%;
      padding: 20px;
}
main .our-vision .aroma-vision {
      flex: 1.3;
      margin-right: 0px;
      margin-left: 20px;
}

main .aroma-egy .about-aroma h3,
main .vission-header h3,
main .our-mission .aroma-mission h3 {
      font-size: 30px;
      color: var(--main-color);
      margin-bottom: 15px;
}

main .aroma-egy .about-aroma h4,
main .vission-header h4,
main .our-mission .aroma-mission h4 {
      font-size: 25px;
      color: var(--main-color);
      font-weight: normal;
      margin-bottom: 15px;
}

main .vission-header {
      width: 80%;
      margin: auto;
      text-align: center;
}

main .aroma-egy .about-aroma p,
main .our-vision .aroma-vision p,
main .our-mission .aroma-mission p {
      margin-bottom: 15px;
      line-height: 28px;
      font-size: 16px;
}

main .aroma-egy .aroma-img,
main .our-vision .vision-img,
main .our-mission .mission-img {
      flex: 1;
      height: 500px;
      width: 100%;
}

main .aroma-egy .aroma-img img,
main .our-vision .vision-img img,
main .our-mission .mission-img img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
}

main .aroma-egy .about-aroma {
      display: flex;
      flex-direction: column;
}

main .aroma-egy .btn {
      border-radius: 0px;
      width: 11rem;
      padding: 15px;
}

main .aroma-egy .btn a{color: #FFF;}
main .aroma-egy .btn span {
      margin-left: 15px;
}


/* ==============MEDIA QUERIES FOR TABLETS AND MOBILE PHONES for about page =======*/
@media screen and (max-width:765px) {

      main .aroma-egy,
      main .our-vision,
      main .our-mission {
            flex-direction: column;
            height: auto;

      }

      main .aroma-egy .about-aroma,
      main .our-vision .aroma-vision,
      main .our-mission .aroma-mission {
            margin-right: 0;
            margin-bottom: 20px;
      }

      main .aroma-egy .aroma-img img,
      main .our-vision .vision-img img,
      main .our-mission .mission-img img {
            height: 300px;
            width: 80%;
            margin: 20px auto;
      }

      main .aroma-egy .about-aroma h3,
      main .vission-header h3,
      main .our-mission .aroma-mission h3 {
            font-size: 25px
      }

      main .aroma-egy .about-aroma h4,
      main .vission-header h4,
      main .our-mission .aroma-mission h4 {
            font-size: 20px
      }

      main .vission-header {
            width: 90%;
            margin: 0 10px;
            text-align: left;
      }

      main .aroma-egy .btn {
            margin: auto;
            justify-self: center;
      }
}




/* ==============OUR PRODUCTS PAGE =======*/

main .our-products-page {
      background-image: url(ourproducts.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center left;
      position: relative;
      width: 100%;
      height: 50vh;
      margin-bottom: 70px;
      background-attachment:fixed;

}

main .our-products-page .layout {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

main .our-products-page h2 {
      color: #fff;
      font-size: 40px;
      letter-spacing: 3px;
      text-shadow: 0 .3rem .5rem #4f7069;
}

main .collections {
      margin-bottom: 30px;
}
main .collections .collections-types{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

}
main .collections .collections-types div {
      flex: 1;
      margin: 0 20px;
      transition: all .5s ease;
      cursor: pointer;
}

main .collections .collections-types div:hover {
      transform: scale(1.1);
}
main .collections .collections-types div img {
      width: 100%;
      border-radius: 15px;
}

main .products {
      margin-bottom: 30px;
}
main .products .products-card {
      display: flex;
       flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
      margin-top: 20px;
}
main .products .products-card .product-card{
      flex: 1;
      margin: 0 20px;
      background-color: #ebf0e7;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
/* .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    text-align: center;
    width: 150px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
} */

.show-more {
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.show-more:hover {
    background-color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.page-button.active {
    background-color: #007bff;
    color: #fff;
}

.page-button:hover:not(.active) {
    background-color: #ddd;
}



/* ==============PRODUCTION PAGE =======*/

main .production {
      background-image: url(sliders-2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      position: relative;
      width: 100%;
      height: 50vh;
      margin-bottom: 70px;
      background-attachment: fixed;

}

main .production .layout {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

main .production h2 {
      color: #fff;
      font-size: 40px;
      letter-spacing: 3px;
      text-shadow: 0 .3rem .5rem #4f7069;
}

main .production-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    padding: 10px;
    min-height: 800px;
    margin: 10px;
}
main .production-container .production-img{
      height: 600px;
      width: 30%;
      margin: 20px;
}
main .production-container .production-img img{
      height: 100%;
      width: 100%;
      object-fit: cover;
}

/* ==============MEDIA QUERIES FOR TABLETS AND MOBILE PHONES for about page =======*/
@media screen and (max-width:765px) {

      main .production-container {
    height:auto
}
main .production-container .production-img{
      width: 99%;
      margin: 20px auto;
      height: 80%;
}
}

/* ==============CERTIFICATION PAGE =======*/

main .certification {
      background-image: url(banner3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      position: relative;
      width: 100%;
      height: 50vh;
      margin-bottom: 70px;
      background-attachment: fixed;

}

main .certification .layout {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

main .certification h2 {
      color: #fff;
      font-size: 40px;
      letter-spacing: 3px;
      text-shadow: 0 .3rem .5rem #4f7069;
}





/* ==============CONTACT US PAGE =======*/

main .contact {
      background-image: url(contact.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;
      width: 100%;
      height: 50vh;
      margin-bottom: 70px;
      background-attachment: fixed;

}


main .contact .layout {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

main .contact h2 {
      color: #fff;
      font-size: 40px;
      letter-spacing: 3px;
      text-shadow: 0 .3rem .5rem #4f7069;
}

.contact-main .container h2 {
      margin-bottom: 20px;
}

main .contact-us {
      display: flex;
      height: 300px;
      margin-bottom: 70px;
      justify-content: space-between;
      align-items: center;
}


main .contact-us .contact-us-info {
      flex: 1.4;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

}

main .contact-us .contact-us-info>div {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
}

main .contact-us .contact-us-info>div i {
      font-size: 2rem;
      color: var(--main-color);
      margin-bottom: 8px;
}

main .contact-us .contact-us-info>div span {
      font-size: 1.5rem;
      margin-bottom: 8px;
}

main .contact-us .contact-us-info>div p {
      font-size: 1.1rem;
      text-align: center;
      color: #7e8483
}

main .contact-us .contact-us-img {
      flex: 1;
      height: 100%;
}

main .contact-us .contact-us-img img {

      display: block;
      object-fit: cover;
      border-radius: 10px;
}

main .visit-us .container {
      margin: 50px auto;
      text-align: center;
}

main .visit-us .container h2 {
      margin-bottom: 20px;
}

main .visit-us .container p {
      margin-bottom: 20px;
      font-size: 20px;
}

main .visit-us .container .map iframe {
      width: 95%;
      height: 450px;
}


/* ==============MEDIA QUERIES FOR TABLETS AND MOBILE PHONES for about page =======*/
@media screen and (max-width:765px) {

      main .contact-us {
            flex-direction: column;
            height: auto;
      }


      main .contact-us .contact-us-info {
            height: auto;
            margin: 30px auto;
            flex-direction: column;
      }

      main .contact-us .contact-us-info>div {
            width: 90%;
      }

      main .contact-us .contact-us-info>div span {
            font-size: 1.2rem;
            margin-bottom: 8px;
      }

      main .contact-us .contact-us-info>div p {
            font-size: 0.9rem
      }

}


/* ==============CERTIFICATION US PAGE =======*/

main .certifications {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 50px auto;

}

main .certifications .certificate {
      flex: 1;
      height: 500px;
      margin: 20px;
}

main .certifications .certificate img {
      width: 100%;
      height: 100%;
      display: block;
}


/* ==============MEDIA QUERIES FOR TABLETS AND MOBILE PHONES for certification page =======*/
@media screen and (max-width:765px) {
      main .certifications {
            flex-direction: column;

      }

      main .certifications .certificate {
            width: 100%;
      }
}


/* ==============GALLERY PAGE =======*/

main .gallery {
      background-image: url(lookbook-bg_1440x547.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      position: relative;
      width: 100%;
      height: 50vh;
      margin-bottom: 70px;
      background-attachment: fixed;

}

main .gallery .layout {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

main .gallery h2 {
      color: #fff;
      font-size: 40px;
      letter-spacing: 3px;
      text-shadow: 0 .3rem .5rem #4f7069;
}
